body {
	padding: 0;
	background: #580101;
	font-family: Helvetica, sans-serif;
	font-size: 62.5%;
	color: #333;
}

h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
    
}

p {
	font-size: 1.4em;
	line-height: 1.4em;
}

ul {
	list-style-type: none;
}

a:link {
	color: #333;
	background: #eee;
}
#nav {
	float: right;
	margin: 50px 10px 0 0;
	font-size: 1.4em;
}
#nav li {
	display: inline;
	margin: 0 0 0 20px;
}

#nav li a {
	color: #fff;
	text-decoration: none;
	background: none;
}
#sidebar {
	margin: 20px 10px 20px 0;
	padding: 10px;
}

#link-list {
	margin: 20px 0 0 0;
	font-size: 1.4em;
}

#link-list li {
	margin: 0 0 10px 0;
}

#sidebar {
	float: left;
	background: #eee;
}

#sidebar h2 {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	margin: 0 0 20px 0;
	padding: 5px;
}

#port li {
	margin: 0 40px 20px 0;
	float: left;
	border: 5px solid #ddd;
}

#footer {
	background: rgb(156, 156, 156);
	padding: 10px;
	text-align: center;
	color: rgb(49, 49, 49);
}

.bor{
	padding: 10px 10px 10px 10px;
	background: #ffffff;
}
.a{
	padding: 5px 0 5px 0;
	background: #83855e;
	text-align: center;
}
.b{
	background-image: url(images/tokyo.jpg);
	width: 1300px;
	height: 250px;
	background-size: 100%;
	border: 10px solid;
	border-color: rgb(136, 136, 136);
	padding: 10px 10px 10px 10px;
	margin: 0 0 5px 0;
}
.row{
	--bs-gutter-x: 0rem;
}